$focus-bg: #fe0211;
$focus-text: #f8c6c6;
$relax-short-bg: #53c1da;
$relax-short-text: #cbfbfe;
$relax-long-text: #00a355;
$relax-long-text: #b8ebdb;

$header: 72px;
$timer-header: 48px;
$clock-size: 96px;
$text-size: 24px;
$spacing: 25px;

$timer-h: 694px;
$timer-2: 605px;

@import "global";
@import "focus-timer";
