$focus-bg: #fe0211;
$focus-text: #f8c6c6;
$relax-short-bg: #53c1da;
$relax-short-text: #cbfbfe;
$relax-long-text: #00a355;
$relax-long-text: #b8ebdb;

$header: 72px;
$timer-header: 48px;
$clock-size: 96px;
$text-size: 24px;
$spacing: 40%;

@import "global";
